.App {
  text-align: center;
}

html, body, #root, #root > div {
  height: 100%;
}

section {
  height: 95%;
}

body {
  padding: 0 40px 40px 40px !important;
}

.mar10 {
  margin: 10px;
}

.rounded6 {
  border-radius: 6px;
}

.rounded-top6 {
  border-radius: 6px 6px 0px 0px;
}

.rounded-bottom6 {
  border-radius: 0px 0px 6px 6px;
}

.rounded15 {
  border-radius: 15px;
}

.not-rounded {
  border-radius: 0;
}

.pos-abs {
  position: absolute;
}

.of-scroll {
  overflow-y: scroll;
}

.max-height600 {
  max-height: 600px;
}

.pa10 {
  padding: 10px;
}

.pa5 {
  padding: 5px;
}

.fs-13r {
  font-size: 1.3rem;
}

.jc-center {
  justify-content: center;
}

.d-block {
  display: block;
}
